.container {
  container-type: inline-size;
}

.recipe-card {
  flex-direction: column;
  max-height: none;
  justify-content: start;
}

.recipe-card-footer {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  padding-top: 10px;
}

@container (min-width: 720px) {
  .recipe-card {
    flex-direction: row;
  }
}

@container (min-width: 500px) {
  .recipe-card-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
